<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
</head>

<body>
    <h3>
         <a href = "{{ url_for('index') }}">Dog Breed Recommender</a>
    </h3>

    <hr/>
    <table>
         <thead>
            <tr>
               <th>Input an approximate number of dogs. The algorithm will recommend as close to this number as is reasonable based on the natural groupings in the data. You cannot input a number smaller than 3.</th>
            </tr>
         </thead>

         <tbody>
            {% for dog in recommendations %}
               <tr>
                   <td>{{ dog }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <input type=text size=15 name=numdogs placeholder="Approx. # of Dogs">
        <input type=submit value=Submit>
      </dl>
    </form>

</body>
</html>